<div class="container">
  <div class="container-fluid">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h3><%=@title%></h3>
      </div>
      <a class="btn btn-primary" href="/posts/new">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add Post
      </a>
      <div class="page-header">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <td>Title</td>
              <td>Body</td>
            </tr>
          </thead>
          <% @posts.each do |list| %>
          <tbody>
              <td><%= list.title %></td>
              <td><%= list.body %></td>
          </tbody>
          <%end%>
          <tfoot>
            <td>Title</td>
            <td>Body</td>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<!--
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Body</td>
      </tr>
    </thead>
    <% @posts.each do |post| %>
    <tbody>
      <tr>
        <td><%=post.title%></td>
        <td><%=post.body%></td>
      </tr>
    </tbody>
    <% end %>
    <tfoot>
      <tr>
        <td>Title</td>
        <td>Body</td>
      </tr>
    </tfoot>
  </table>
-->
